* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
   list-style: none;

   font: 400 1.6rem "DM Sans", sans-serif;
}

:root {
   /* font-size default - 10px */
   font-size: 62.5%;
  /* colors - hue = matiz*/
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  --divider: hsla(0, 0%, 89%, 1);
  --divider-alt: linear-gradient(270deg, --base-color 0%, --base-color-second 100%);
  
  /* responsive */
  --title-font-size: 3rem;
  --subtitle-font-size: 1.6rem;
}
html {
   scroll-behavior: smooth;
}
a {
   display: inline-flex;
}
img {
   width: 100%;
   height: auto;
}

.grid {
   display: grid;
   gap: 3.2rem;
}

.container {
   margin: 0 2.4rem;
}

.logo, 
.logo span, 
.logo-alt, 
.logo-alt span{
   font: 700 2.1rem "Poppins", sans-serif;
}
.logo, .logo-alt {
   color: var(--title-color);
}
.logo span {
   color: var(--base-color);
}
.logo-alt span {
   color: var(--body-color);
}

.divider {
   height: 1px;
   background: linear-gradient(
      270deg, 
      hsl(var(--hue), 36%, 57%), 
      hsla(var(--hue), 65%, 88%, 0.34)
   );
}
.divider-2 {
   height: 1px;
   background: linear-gradient(
      270deg, 
      hsla(var(--hue), 65%, 88%, 0.34),
      hsl(var(--hue), 36%, 57%)
   );
}

.button {
   width: 21.4rem;
   height: 5.6rem;
   font: 500 1.6rem "DM Sans", sans-serif;
   color: var(--text-color-light);
   background-color: var(--base-color);
   border-radius: .4rem;
   align-items: center;
   justify-content: center;
   /* transition only for background */
   transition: background .3s;
}
.button:hover {
   background-color: var(--base-color-alt);
}

.title {
   font: 700 var(--title-font-size) "Poppins", sans-serif;
   color: var(--title-color);
}

.section {
   padding: 8rem 0;
}
.section .title {
   margin-bottom: 1.6rem;
}
.section .subtitle{
   font-size: var(--subtitle-font-size);
}
.section header {
   margin-bottom: 3.2rem;
}


#header {
   height: 7.2rem;
   width: 100%;
   background-color: var(--body-color);
   border-bottom: solid 1px var(--divider);
   
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;

   transition: .3s;
}
#header.scroll {
   box-shadow: 0 0 1.2rem hsla(0, 0%, 0%, 0.2);
}
nav {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
nav .menu {
   /* opacity: 0; */
   visibility: hidden;
   top: -20rem;
   transition: .2s;
}
nav .menu ul a {
   transition: color .3s;
   position: relative;
}
nav .menu ul a:hover {
   color: var(--base-color);
}
nav .menu ul a::after {
   content: "";
   width: 0%;
   height: 2px;
   background: var(--base-color);
   
   position: absolute;
   bottom: -2.4rem;
   left: 0;

   transition: width .2s;
}
nav .menu ul a:hover::after {
   width: 100%;
}
nav.show .menu ul.grid {
   text-align: center;
   gap: 6.4rem;
}
nav.show .menu {
   /* opacity: 1; */
   visibility: visible;

   height: 100vh;
   width: 100vw;
   position: absolute;
   top: 0;
   left: 0;
   background-color: var(--body-color);

   display: grid;
   place-content: center;
}
nav .icon-close {
   visibility: hidden;

   position: absolute;
   top: 0;
   right: 2.4rem;

   transition: .15s;
}
.toggle {
   color: var(--base-color);
   font-size: 2.4rem;
   cursor: pointer;
}
nav.show div.icon-close {
   visibility: visible;
   top: 2.4rem;
}
/* para que as transições fiquem flúidas */
nav .menu ul {
   display: none;
}
nav.show .menu ul {
   display: grid;
}




#home {
   background-color: var(--body-color);
   padding-top: 14.5rem;
   overflow: hidden;
}
#home .container {
   margin: 0;
}
#home .image {
   position: relative;
}
#home .image::before {
   content: '';
   height: 100%;
   width: 100%;
   background-color: var(--base-color-second);
   position: absolute;
   top: -16.8%;
   right: -16.7%;
   z-index: 0;
}
#home img {
   position: relative;
   right: 4.7rem;
}
#home .text {
   margin: 0 2.4rem;
   text-align: center;
}
#home h2 {
   font: 700 3rem "Poppins", sans-serif;
   color: var(--title-color);
   margin-bottom: 1.6rem;

   -webkit-font-smoothing: auto;
}
#home p {
   font: 400 1.6rem "DM Sans", sans-serif;
   color: var(--text-color);
   margin-bottom: 3.2rem;
}




#about {
   background-color: #FFF;
}
#about .container {
   margin: 0;
}
#about .image {
   position: relative;
}
#about .image::before {
   content: '';
   height: 100%;
   width: 100%;
   background-color: var(--base-color-second);
   position: absolute;
   top: -8.25%;
   left: -31.11%;
   z-index: 0;
}
#about img {
   position: relative;
}
#about .text {
   margin: 0 2.4rem;
   text-align: start;
}
#about h2 {
   font: 700 3rem "Poppins", sans-serif;
   color: var(--title-color);
   margin-bottom: 1.6rem;

   -webkit-font-smoothing: auto;
}
#about p {
   font: 400 1.6rem "DM Sans", sans-serif;
   color: var(--text-color);
   line-height: 2.6rem;
}




#services {
   background-color: var(--body-color);
}
#services header p strong {
   color: var(--base-color);
   font-weight: bold;
}
.cards.grid {
   gap: 2.4rem;
}
.card {
   padding: 5.8rem 3.2rem;
   box-shadow: 0px 0px 12px hsla(0, 0%, 0%, 0.08);
   border-bottom: .4rem solid var(--base-color);
   border-radius: .4rem .4rem 0 0;
   text-align: center;
}
.card i {
   /* i é uma tag usada para icones */
   display: block;
   margin-bottom: 2.4rem;
   /* os icones foram transformados em fontes */
   font-size: 8rem;
   color: var(--base-color);
}
.card .title {
   font-size: 2.4rem;
   margin-bottom: 1.2rem;
}
.card p {
   color: var(--text-color);
   line-height: 2.6rem;
}




#testimonials {
   background-color: #FFF;
}

#testimonials .container {
   margin: 0;
}

#testimonials .container header {
   margin: 0 2.4rem;
}

#testimonials blockquote {
   padding: 3.2rem;
   display: grid;
   gap: 2.4rem;
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
   border-radius: .4rem;
}

#testimonials blockquote p {
   font-size: 1.6rem;
   position: relative;
   text-indent: 2.5rem;
   line-height: 2.6rem;
}

#testimonials blockquote p span {
   font: 400 4.8rem "Georgia", serif;
   color: var(--base-color);
   position: absolute;
   top: -.7rem;
   left: -2.5rem;
}

#testimonials blockquote cite {
   display: flex;
   align-items: center;
   gap: .8rem;

   font-size: 1.6rem;
   color: var(--text-color);
}

#testimonials blockquote cite img {
   width: 3.2rem;
   object-fit: cover;
   clip-path: circle();
}


.swiper-slide {
   height: auto;
   padding: 4rem 2.4rem;
}
.swiper-pagination-bullet-active {
   background-color: var(--base-color);
}



#contact {
   background-color: var(--body-color);
}

#contact .text p {
   color: var(--text-color);
   margin-bottom: 3.2rem;
}

#contact .text .button i {
   font-size: 2.4rem;
   margin-right: 1rem;
}
#contact div.grid {
   gap: 6.4rem;
}
#contact .links ul li {
   display: flex;
   align-items: center;
   color: var(--text-color);
}

#contact .links ul li i {
   font-size: 2.4rem;
   color: var(--base-color);
   margin-right: 1.2rem;
}



footer {
   height: 29.4rem;
   background-color: var(--base-color);
   padding: 6.4rem 0;
}
footer .text {
   color: var(--text-color-light);
   font: 400 1.6rem "DM Sans", sans-serif;

   display: grid;
   gap: 1.2rem;
   margin-bottom: 3.2rem;
}
footer .text a {
   margin-bottom: 1.2rem;
}
footer #social {
   display: flex;
   gap: 3.2rem;
}
footer #social i {
   display: block;
   font-size: 2.4rem;
   color: var(--text-color-light);
}
footer #social a {
   transition: .3s;
   transform: translateY(0);
}
footer #social a:hover {
   transform: translateY(-8px);
}




.back-to-top {
   padding: .8rem;
   font-size: 2.4rem;
   background-color: var(--base-color);
   color: var(--text-color-light);
   clip-path: circle();

   position: fixed;
   bottom: 1rem;
   right: 1rem;
   z-index: 2;

   visibility: hidden;
   opacity: 0;

   transition: .3s;
   transform: translatey(100%);
}
.back-to-top.show {
   visibility: visible;
   opacity: 1;
   transform: translatey(0%);
}




/* RESPONSIVE */
/* extra large devices: 1200 */
/* large devices: 1024 */
/* large devices: 992 */
@media (min-width: 992px) {
   :root {
      --title-font-size: 3.6rem;
      --subtitle-font-size: 1.8rem;

   }
}
/* medium devices: 767 */
